@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media(max-width: 600px){
  .header{
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
  }
} */
.herosectionimgcont{
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3)
}

@keyframes ScrollAnimation{         /* start from ehere you left off */
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-15604px);       /* Total width 20304 but we subtract some to save from edges 20304-940(1 width)*2.5 = 19364*/
  }
}

@keyframes ScrollUpAnimation{
  0%{ transform: translateY(0px); opacity: 100;}
  30%{ opacity: 0;}
  45%{ transform: translateY(-16px);}
  55%{ transform: translateY(16px);}
  70%{ opacity: 0;}
  100%{transform: translateY(0px); opacity: 100;}
}

@keyframes ScrollSideAnimation{
  0%{ transform: translateY(0px); opacity: 100;}
  30%{ opacity: 0;}
  45%{ transform: translateX(-20px);}
  55%{ transform: translateX(20px);}
  70%{ opacity: 0;}
  100%{transform: translateY(0px); opacity: 100;}
}

.shadowgiver{
  box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.15), -2px 5px 25px rgba(0, 0, 0, 0.15);
}
.smallshadowgiver{
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15), -1px 3px 15px rgba(0, 0, 0, 0.15);
}

.herosection{
  animation: HeroSectionAnimation .4s ease-out;
}

@keyframes HeroSectionAnimation{
  from{
    opacity: 0;
    transform: translateY(80px);
  }
  to{
    opacity: 100;
    transform: translateY(0px);
  }
}